<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subnautica Trilaterator</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <header class="text-center">
    <h2>Subnautica Trilaterator</h2>
  </header>
  <div id="app">
    <div class="container">
      <form @submit.prevent="" novalidate>
        <!-- <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">Depth</div>
          <div class="col-2">
            <input type="number" min="0" step="10" class="form-control border-primary" id="inputDepth" v-model="input.depth">
          </div>
          <div class="col-2"></div>
        </div> -->
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2"></div>
          <div class="col-2">Distance</div>
          <div class="col-2">Setup</div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">
            <input type="checkbox" class="btn-check" id="inputUse0" v-model="input.beacon[0].use">
            <label class="btn btn-outline-primary" for="inputUse0">Beacon N</label>
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="11" class="form-control border-primary" id="inputDistTo0" v-model="input.distTo[0]">
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="15" class="form-control border-secondary" id="inputBeacon0" v-model="input.beacon[0].d">
          </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">
            <input type="checkbox" class="btn-check" id="inputUse1" v-model="input.beacon[1].use">
            <label class="btn btn-outline-primary" for="inputUse1">Beacon E</label>
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="12" class="form-control border-primary" id="inputDistTo1" v-model="input.distTo[1]">
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="16" class="form-control border-secondary" id="inputBeacon1" v-model="input.beacon[1].d">
          </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">
            <input type="checkbox" class="btn-check" id="inputUse2" v-model="input.beacon[2].use">
            <label class="btn btn-outline-primary" for="inputUse2">Beacon S</label>
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="13" class="form-control border-primary" id="inputDistTo2" v-model="input.distTo[2]">
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="17" class="form-control border-secondary" id="inputBeacon2" v-model="input.beacon[2].d">
          </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">
            <input type="checkbox" class="btn-check" id="inputUse3" v-model="input.beacon[3].use">
            <label class="btn btn-outline-primary" for="inputUse3">Beacon W</label>
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="14" class="form-control border-primary" id="inputDistTo3" v-model="input.distTo[3]">
          </div>
          <div class="col-2">
            <input type="number" min="0" step="10" tabindex="18" class="form-control border-secondary" id="inputBeacon3" v-model="input.beacon[3].d">
          </div>
        </div>
        <!-- Results -->
        <!-- <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">Coordinates</div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">X</div>
          <div class="col-2">{{ output.x }}</div>
          <div class="col-2"></div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-2">Y</div>
          <div class="col-2">{{ output.y }}</div>
          <div class="col-2"></div>
        </div> -->
      </form>
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-6"><canvas id="canvas1" width="701" height="501"></canvas></div>
      </div>
      <div class="small">Version 1 ({{ getLastModified }})
        - <a href="https://github.com/FoxAhead/">GitHub</a>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script type="module" src="main.js"></script>
</body>

</html>